.normalBtn {
    background-color: green;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}

.dangerBtn{
    background-color: red;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}